.footer {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c7c7c7;
  bottom: 0;
  position: fixed;
}

.icons-container {
  width: 90vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
