.categoryList {
  align-items: center;
  display: flex;
  gap: 8px;
  list-style: none;
  margin: auto;
  margin-top: 24px;
  overflow-x: scroll;
  width: 90vw;
}

.btn-category {
  background-color: #c11d52;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  margin: 2px;
  min-width: max-content;
  outline: 0;
  outline-color: transparent;
  padding: 1px 16px;
}

.btn-category:focus {
  border-color: transparent;
  outline: none;
}
