.done-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.done-container button {
  background-color: #c11d52;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  height: 26px;
  margin: 2px;
  outline: 0;
  outline-color: transparent;
  padding: 0 1px;
  width: 100px;
}
