.header-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.fatherHeader {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 10px 0;
  width: 90vw;
}

.fatherHeader button {
  align-items: center;
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
}

.fatherHeader button img {
  height: 24px;
  width: 24px;
}

.fatherHeader h1 {
  color: #c11d52;
  font-family: Nunito , sans-serif;
  font-size: 24px;
  font-weight: 900;
}

.searchButton:focus {
  outline: none;
}
