.searchButton {
  background: unset;
  border: none;

}

.searchButton:focus {
  outline: none;
}

.fatherHeader {
  display: flex;
  justify-content: space-between;
}

.radio_buttons {
  margin-left: 20px;
}

.father_food > img {
  width: 200px;
}
