.FatherMap {
  display: flex;
  flex-direction: column;
}

.fatherImg {
  display: flex;
  height: 350px;
  justify-content: center;
  width: 100%;
}


.father {
  display: flex;
  flex-direction: column;
}

.infos {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: Montserrat , sans-serif;
}


.infos > p {
  color: silver;
  font-weight: 600;
  line-height: 22px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.infos > .buttons > h1 {
  font-size: 24px;
  font-weight: 300;
  line-height: 33px;
  width: 170px;
}

.infos > h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
}

.effectBtn {
  background-color: white;
  border: none;
}

.effectBtn:focus {
  outline: none;
}

.list {
  background-color: #dee0e7;
}


.intructionsText {
  font-family: Montserrat , sans-serif;
  padding: 20px;
}

.h2 {
  font-size: 20px;
  font-style: bold;
  line-height: 27px;
  margin-bottom: 20px;
  margin-top: 30px;
  text-align: center;
}

.container-lg {
  padding: 10px;
}

.container_carousel {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 40px;
  overflow-x: scroll;
  width: 100vw;
}

.container_carousel > div {
  margin: 25px;
  width: 50vw;
}

.imgContainer {
  width: 38vw;
}

.btn-details {
  background-color: #c11d52;
  border: none;
  border-radius: 8px;
  color: white;
  height: 52px;
  margin-bottom: 20px;
  width: 300px;
}
