.FatherMap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.father h2 {
  font-size: 20px;
  font-weight: 600;
  color: #252525;
}

.father iframe {
  border-radius: 8px;
  width: 100%;
  margin-bottom: 16px;
}

.video-container {
  width: 90vw;
  margin: auto;
}

.recommended-recipes {
  margin: auto;
  width: 90vw;
}

.container_carousel {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 40px;
  overflow-x: scroll;
  width: 100%;
  gap: 18px;
}


.imgContainer {
  width: 38vw;
}
