.recipe-list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: auto;
  margin-bottom: 100px;
  width: 90vw;
}

.recipe-card-img img {
  height: auto;
  width: 100%;
}

.recipe-card h2 {
  color: #c11d52;
  font-size: 24px;
  padding: 0 5px;
  text-align: center;
}

.recipe-list .first {
  margin-bottom: 16px;
  width: 100%;
}

.recipe-list .first h2 {
  font-size: 32px;
}

.recipe-list .first img {
  height: 200px;
}

.recipe-card {
  background-color: #fafafa;
  border-radius: 8px;
  box-shadow: 2px 2px 5px 1px rgb(42, 42, 42);
  width: 145px;
}
