.recipe-details-header {
  margin-bottom: 16px;
  width: 100%;
}

.recipe-details-header > img {
  max-height: 400px;
  width: 100%;
  position: relative;
}

.recipe-details-header .content {
  background-color: #fafafa;
  border-radius: 24px 24px 0px 0px;
  position: relative;
  margin-top: -24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.recipeInfos h1{
  max-width: 150px;
  font-size: 24px;
  color: #C11D52;
  font-weight: 300;
  margin-bottom: 0;
}

.recipeInfos span {
  color: #bbbbbb;
  font-size: 16px;
}

.recipe-details-header .content  button {
  background: transparent;
  border: none;
  margin-left: 4px;
}

.recipe-details-header hr {
  background-color: #E0E0E0;
  margin: auto;
  width: 85vw;
}
