.card-container {
  border-radius: 8px;
  color: #252525;
  margin-right: 40px;
  background-color: #fff;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
}

.card-container img {
  border-radius: 8px 8px 0 0;
  width: 135px;
}

.card-container h3 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 4px;
}