.recipe-card {
  align-items: center;
  background-color: #fafafa;
  border-radius: 8px;
  box-shadow: 2px 2px 5px 1px rgb(42, 42, 42);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 80px;
  margin-top: 20px;
  transition: all 0.3s;
  width: 300px;
}

.recipe-card:hover {
  transform: scale(1.1);
}

.recipe-card-img img {
  border-radius: 8px 8px 0 0;
  height: 200px;
  width: 100%;
}

.recipe-card-text {
  align-items: center;
  background-color: white;
  border-radius: 0 0 8px 8px;
  color: black;
  display: flex;
  padding: 10px;
  width: 100%;
}

.card-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
