.search {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 16px;
  width: 90vw;
}

.search-title {
  width: 100%;
}

.search-title h2 {
  color: #4F4F4F;
  display: flex;
  font-weight: 600;
  font-size: 26px;
  max-width: 200px;
  margin-bottom: 16px;
}

.search-input-btn {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
}
.search-input-btn button, .search-input-btn input {
  border: none;
  border-radius: 0px 8px 8px 0px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.23);
  height: 40px;
  padding: 0 8px;
}

.search-input-btn  button {
  background-color: #C11D52;
  width: 40px;
}

.search-input-btn  button img {
  height: 24px;
  width: 24px;
}

.search-input-btn  button  p{
  display: none;
}

.search-input-btn input {
  background: #F5F5F5;
  width: 100%;
}

.radios-search {
  align-items: center;
  display: flex;
  gap: 4px;
  justify-content: space-around;
  margin-bottom: 24px;
  margin-top: 8px;
  width: 100%;
}

.radios-search label {
  align-items: center;
  display: flex;
  font-weight: 400;
  font-size: 16px;
  gap: 4px;
}

